<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navbar">
    <main class="container-fluid">
        <a class="navbar-brand" href="/">Group Organizer 276</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <fieldset class="collapse navbar-collapse justify-content-between" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false" th:if="${user.isOrganizer}">
                        Meeting Organizer
                    </a>
                    <ul class="dropdown-menu m-2" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="/pollcreate">Create New Poll</a></li>
                    </ul>
                </li>
                <a class="nav-link active" aria-current="page" href="#">Holder for User Profile</a>
                </li>
            </ul>
            <a class="btn btn-primary ml-auto" href="/logout">Log Out</a>
        </fieldset>
    </main>
</nav>