<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poll</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="../../js/app.js"></script>
</head>

<body class="pollcreate">
    <div class="secondary-body">
    <header>
        <nav th:replace="~{universals/navbar :: navbar (user=${user})}"></nav>
    </header>

    <h1 class="d-flex justify-content-center m-5" style="font-weight: bolder; font-size: 44px;">Edit poll</h1>
    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
        <p th:text="${errorMessage}"></p>
    </div>
    

    <main class="container-fluid d-flex justify-content-around mb-3">
        <section class="col-md-5">
            <form id="inputField" method="post" th:action="${'/editpoll/' + poll.pid}">
                <fieldset class="mt-3 form-group row">
                    <label class="col-form-label" for="title">Title</label>
                    <input class="form-control form-control-lg mb-3" type="text" id="title" placeholder="Poll Title" name="title" th:value="${poll.title}" required>

                    <label class="col-form-label" for="description">Description</label>
                    <textarea class="form-control form-control-lg mb-3" type="text" id="description" placeholder="Poll Description" name="description"  th:text="${poll.description}" required></textarea>

                    <div>
                        <label class="col-form-label" for="dateTimeRange">
                            Select Dates and Time:
                        </label>
                        <input step ="1800" class="text-center" id="dateTimeRange" placeholder="click to select" 
                        title="Select start-day then adjust time, then select end-day and adjust time. 
If you wish to select one day, select that day by clicking once and adjust time then click the date again and adjust time.
otherwise, manually adjust to your needs using the labels below. (strictly follow the format)" readonly>
                        <i class="fas fa-calendar-alt"></i>
                    </div>
                        
                    <!-- start time/date -->
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="startDate">Eariest Start Date: </label>
                        <input class="form-control form-control-lg mb-3" type="text" maxlength="10" id="startDate" name="startDate" placeholder="mm/dd/yyyy" th:value="${#strings.substring(poll.startDate,0,10)}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="startTime">Earliest Start Time: </label>
                        <input class="form-control form-control-lg mb-3" type="text" maxlength="5" start="0" step="1800" id="startTime" name="startTime" placeholder="--:--" title="00:00 TO 23:59" th:value="${#strings.substring(poll.startDate,11, 16)}" required>
                    </div>

                    <!-- end time/date -->
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="endDate">Latest End Date: </label>
                        <input class="form-control form-control-lg mb-3" type="text" maxlength="10" id="endDate" name="endDate" placeholder="mm/dd/yyyy" th:value="${#strings.substring(poll.endDate,0,10)}" required>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-form-label" for="endTime">Latest End Time: </label>
                        <input class="form-control form-control-lg mb-3" type="text" maxlength="5" id="endTime" start="0" step="1800" name="endTime" placeholder="--:--" title="00:00 TO 23:59" th:value="${#strings.substring(poll.endDate,11, 16)}" required>
                    </div>
                    <label class="col-form-label" for="expirary">Expiry Date</label>
                    <input class="form-control form-control-lg" type="date" id="expirary" name="expirary" th:value="${{#strings.substring(poll.expirary,0, 10)}}" required>
                </fieldset>
                <fieldset class="text-center text-lg-start mt-4 pt-2">
                    <a class="btn btn-secondary btn-lg" href="/">Cancel</a>
                    <button class="btn btn-primary btn-lg" type="button" id="pollSubmit" onclick="sendUpdatePollForm()">Update Poll</button>
                    <a class="btn btn-secondary btn-lg" th:href="${'/polls/delete/' + poll.pid}">Delete Poll</a>
                </fieldset>
            </form>
        </section>
        <section class="col-md-5">
            <!-- mediums -->
            <label class="col-form-label" for="mediums">Mediums (click to remove)</label>
            <div class="overflow-auto" style="height: 100px; border-style: solid;" id="mediumsList"><!--List of mediums, which the form will read from-->
                <div th:each="med : ${mediums}">
                    <p th:attr="mid=${med.mid}" class="oldMedium singleMedium" th:text="${med.name}" th:onclick="{this.parentElement.removeChild(this)}"></p>
                </div>
            </div>


            <input class="form-control form-control-lg mb-3" type="text" id="mediumInput" placeholder="Enter Medium">
            <button class="btn btn-primary btn-lg" onclick="addMedium()">Add Medium</button>
            <label><input class="form-check-input" type="checkbox" id="mediumRemote">Remote?</label>

            
            <br>
            <br>

            <!-- users -->  
            <label class="col-form-label" for="users">Invitees (click to remove)</label>
            <div class="overflow-auto" style="height: 100px; border-style: solid;" id="usersList"> <!--List of users, which the form will read from-->
                <div th:each="users : ${invited}">
                    <p th:text="${'(' + users.uid + ') ' + users.firstName + ' ' +   users.lastName}" class="singleUser" th:onclick="{this.parentElement.removeChild(this)}"
                    th:id="${'uid' + users.uid}"></p>
                </div>
            </div>


            <input class="form-control form-control-lg mb-3" type="text" id="usersInput" placeholder="Enter Name to Search" oninput="getUsers()">
            <div class="dropdown-content" id="usersSearchResults">
                <!-- Dropdown items will be populated dynamically -->
              </div>
          
            <br>

            <div class="weather-container">
                <label class="col-form-label" for="city-input">Check the Weather for the Week</label>
                <input class="form-control form-control-lg mb-3" type="text" id="city-input" placeholder="Enter city name">
                <button class="btn btn-primary btn-lg" id="search-btn">Search</button>
                <div id="weather-display" class="event-box-custom" style="display: none;">
                    <div class="weather-info"></div>
                </div>
            </div>

        </section>
    </main>
</div>

<script>
    const apiKey = 'c5d0b846005f48a1aad4287d8099c482';
    const apiUrl = 'https://api.weatherbit.io/v2.0/forecast/daily';

const searchBtn = document.getElementById('search-btn');
const cityInput = document.getElementById('city-input');
const weatherInfo = document.querySelector('.weather-info');
const weatherDisplay = document.getElementById('weather-display')

searchBtn.addEventListener('click', async () => {
    const city = cityInput.value.trim();

    if (city !== '') {
        try {
            const response = await fetch(`${apiUrl}?city=${city}&days=7&units=M&key=${apiKey}`);
            const data = await response.json();

            weatherInfo.innerHTML = ''; // Clear previous weather data

            const currentDate = new Date();
            const endDate = new Date(currentDate.getTime() + 7 * 24 * 60 * 60 * 1000);
            const filteredData = data.data.filter(day => {
                const forecastDate = new Date(day.valid_date);
                return forecastDate >= currentDate && forecastDate <= endDate;
            });

            filteredData.forEach(day => {
                const forecastDate = new Date(day.valid_date);
                const dayOfMonth = forecastDate.getDate();
                const dayName = forecastDate.toLocaleDateString('en-US', { weekday: 'long' });
                const temperature = `${day.temp.toFixed(1)} °C`;
                const description = day.weather.description;

                const weatherItem = document.createElement('div');
                weatherItem.classList.add('weather-item');
                weatherItem.innerHTML = `
                    <label class="description"><strong>Date:</strong> ${dayName}, ${dayOfMonth}</label>
                    <label class="description"><strong>Temperature:</strong> ${temperature}</label>
                    <label class="description"><strong>Description:</strong> ${description}</label>
                `;

                weatherInfo.appendChild(weatherItem);
            });
            weatherDisplay.style.display = "block";
        } catch (error) {
            console.error('Error fetching weather data:', error);
            alert('An error occurred while fetching weather data. Please try again.');
        }
    } else {
        alert('Please enter a city name.');
    }
});
</script>
<footer th:replace="~{universals/footer :: footer}"></footer>
</body>
</html>