h1 {
  display: inline;
  color: #bd0f0f;
  font-family: fantasy;
  text-shadow:
    -1px -1px 0 #ffffffe0,
    1px -1px 0 #ffffffe0,
    -1px 1px 0 #ffffffe0,
    1px 1px 0 #ffffffe0;
}

#login-card{
  box-shadow: 2px 2px 10px grey;
  min-width: 100px;
}

#login-button{
color: white;
background-color: #A5192E;
width: 100%;
margin-right: auto;
}

#register-button{
  color: white;
  background-color: #A5192E;
  margin-right: auto;
  }

#login-logo{
height: 160px;
width: 190px;
}

#register-card{
  box-shadow: 2px 2px 10px grey;
  width: 100%;
  border-style: solid;
  border: 2px solid white; 
}

#register-logo{
  height: 160px;
  width: 190px;
  }

#login-name{
  color: #A5192E;
  font-weight: 500;
  font-size: 35px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #c9c9c9 !important;
  background-image: url('RegistrationBackground.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.secondary-body {
  background-color: #c7c7c7;
  background-size: cover;
  min-height: 80vh;
  min-width: auto;
}

.col-form-label {
  font-weight: 500;
  color: #000000;
}

/* dropdown menu hover for "Meeting Organizer" button */
.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu.m2 {
  background-color: #ffffff;
  /* Background color */
  border: 1px solid #ced4da;
  /* Border color */
  border-radius: 13px;
  padding: 0.5rem 0;
  /* Padding */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* Box shadow */
}

.dropdown-menu .dropdown-item {
  color: #131313;
  /* Text color */
  padding: 0.5rem 1rem;
  /* Padding */
  font-size: 1rem;
  /* Font size */
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu .dropdown-item:hover {
  transform: scale(1.05);
}

.navbar-nav {
  align-items: center;
  position: flex;
  margin-left: auto;
  padding-right: 250px;
}

.navbar-brand {
  display: block;
  width: 43px;
  height: 43px;
  background-image: url('Logo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 315px;
}


.nav-link.nav-link.dropdown-toggle {
  color: #000000;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
}

.nav-link.nav-link.dropdown-toggle:hover {
  background-color: #d8d8d8;
  transform: scale(1.05);
}

.nav-link.active {
  color: #000000;
  background-color: #f0f0f0;
  transition: background-color 0.3s;
  /* smooth transition */
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  font-weight: 500;
  margin-left: 10px;
}

.nav-link.active:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.btn.btn-primary.ml {
  display: inline-block;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background: #A5192E;
  font-size: 16px;
  color: white;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.ml:hover {
  transform: scale(1.15);
}

.btn.btn-primary.ml:active {
  background-color: #f0f0f0;
}



/* Adjust the shadow */
.navbar {
  background-color: #f0f0f0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Style for the navbar */
.secondary-navbar {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 5px;
  background-color: #e9e9e9;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

/* Style for the tab buttons */
.tab-btn1 {
  margin-left: 350px;
  margin-right: 35px;
  padding-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size: 23px;
  color: rgb(92, 92, 92);
  border-bottom: 5px solid transparent;
  /* Initially no border at the bottom */
}

.tab-btn2 {
  margin-right: 35px;
  padding-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size: 23px;
  color: rgb(92, 92, 92);
  border-bottom: 5px solid transparent;
  /* Initially no border at the bottom */
}

.tab-btn3 {
  padding-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size: 23px;
  color: rgb(92, 92, 92);
  border-bottom: 5px solid transparent;
  /* Initially no border at the bottom */
}
.tab-btn4 {
  margin-right: 35px;
  padding-bottom: 15px;
  font-weight: 500;
  cursor: pointer;
  font-size: 23px;
  color: rgb(92, 92, 92);
  border-bottom: 5px solid transparent;
  /* Initially no border at the bottom */
}

/* Style for the clicked/checked state */
.tab-btn1.active {
  border-bottom-color: #c70a0a;
  transform: translateY(5px) translateX(5px);
  /* Border color for the active tab */
}

.tab-btn2.active {
  border-bottom-color: #c70a0a;
  transform: translateY(5px) translateX(5px);
}

.tab-btn3.active {
  border-bottom-color: #c70a0a;
  transform: translateY(5px) translateX(5px);
}
.tab-btn4.active {
  border-bottom-color: #c70a0a;
  transform: translateY(5px) translateX(5px);
}
.footer.mt-auto {
  background-color: rgb(240, 240, 240);
  font-size: 15px;
  font-weight: 500;
  /* half bold so text can stand out a little better */
  height: auto;
}

#darkModeBtn {
  background-color: #f0f0f0;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: none;
}

#darkModeBtn:hover {
  transform: scale(1.1);
}

.container-fluid {
  font-size: 20px;
  font-weight: 500;
}


.btn.btn-primary.btn-lg {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #af0000c7;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  padding-top: 1px;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #c20000;
  transform: scale(1.1) translateY(-5px);
}

.btn.btn-primary.redButton {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  font-weight: bolder;
  background: #af0000b9;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.redButton:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #c20000;
}

.btn.btn-primary.redButtonDisabled {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  cursor: pointer;
  font-weight: bolder;
  background: #af000059;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
}

.btn.btn-secondary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  transition: all 170ms ease-in-out;
}

.btn.btn-secondary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateY(-5px);
}

.btn.btn-secondary {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #2e2e2ec7;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  transition: all 170ms ease-in-out;
}

.btn.btn-secondary:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #2e2e2e;
  color: rgb(255, 255, 255);
}

input::placeholder {
  font-style: italic;
  font-weight: 600;
}

textarea::placeholder {
  font-style: italic;
  font-weight: 600;
}

input {
  font-style: normal;
  /* this is to avoid making input italic */
}

.col-md-4 {
  padding: 30px;
  margin: 20px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 5px;
  transition: all 120ms ease-in-out;
  color: #000000;
}

.form-check-input:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-2px);
}

.overflow-auto {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.dropdown-content {
  display: none;
  overflow: auto;
  position: absolute;
  margin-top: -16px;
  border-radius: 5px;
  background-color: #f3f3f3;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.pollcreate p {
  display: block;
  color: #131313;
  /* Text color */
  padding: 0.5rem 0.5rem;
  /* Padding */
  font-size: 20px;
  /* Font size */
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.pollcreate p:hover {
  cursor: pointer;
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #868686;
  font-weight: 600;
  transform: scale(1.05);
}

.show {
  display: block;
}

.card-group {
  padding-left: 47px;
}

.event-box {
  width: 320px;
  background-color: #fdfafa;
  border-top: 10px solid #c70a0a;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  margin: 10px;
  margin-right: 17px;
  margin-bottom: 15px;
  margin-left: 17px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  position: relative;
  box-shadow: 1px 3px 4px 1px rgba(43, 43, 43, 0.658);
}

.event-box-custom {
    width: auto;
    background-color: #fdfafa;
    border-top: 10px solid #000000;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    padding: 20px;
    margin: 10px;
    margin-right: 17px;
    margin-bottom: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: inline-block;
    position: relative;
    box-shadow: 1px 3px 4px 1px rgba(43, 43, 43, 0.658);
}

.weather-info {
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-x: auto;
}

.event-box .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-box .description {
  font-size: 17px;
  color: #666;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.event-box-custom .description {
  font-size: 17px;
  color: #666;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.event-box .comments {
  font-size: 17px;
  color: #666;
  margin-bottom: 20px;
}

.settings-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings-dropdown button {
  padding: 5px 10px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 3px;
  cursor: pointer;
}

.settings-dropdown .dropdown-toggle::after {
  color: #f9f9f9;
}

.event-box-divider {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}

.share-button {
  border: 2px solid #86a5c5;
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background: #ffffff;
  font-size: 15px;
  border-radius: 20px;
  color: #6084a8;
  height: 40px;
  width: 90px;
  position: absolute;
  bottom: 10px;
  /* Adjust bottom position as needed */
  right: 10px;
  /* Adjust right position as needed */
  transition: all 170ms ease-in-out;
}

.dark-mode body {
  background-color: #000000;
}

.dark-mode .dropdown-menu.m2 {
  background-color: #3b3b3b;
  /* Background color */
  border: 1px solid #313131;
  /* Border color */
  border-radius: 13px;
  padding: 0.5rem 0;
  /* Padding */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  /* Box shadow */
}

.dark-mode .dropdown-menu .dropdown-item {
  color: #ffffff;
  /* Text color */
  padding: 0.5rem 1rem;
  /* Padding */
  font-size: 1rem;
  /* Font size */
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-mode .dropdown-menu .dropdown-item:hover {
  transform: scale(1.05);
  background-color: #505050;
}

.dark-mode .nav-link.nav-link.dropdown-toggle {
  color: #ffffff;
  background-color: #494949;
  transition: background-color 0.3s;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
}

.dark-mode .nav-link.nav-link.dropdown-toggle:hover {
  background-color: #505050;
  transform: scale(1.05);
}

.dark-mode .nav-link.active {
  color: #ffffff;
  background-color: #2c2c2c;
  transition: background-color 0.3s;
  /* smooth transition */
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  font-weight: 500;
  margin-left: 10px;
}

.dark-mode .nav-link.active:hover {
  background-color: #333333;
  transform: scale(1.05);
}

.dark-mode .btn.btn-primary.ml {
  display: inline-block;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background-color: #242424;
  font-size: 16px;
  color: #cecece;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-primary.ml:active {
  background-color: #242424;
}

.dark-mode .navbar {
  background-color: #242424;
}

.dark-mode .footer {
  background-color: rgb(34, 34, 34);
  padding-top: 10px;
  /* footer text was a little too close the top edge */
  align-items: baseline;
}

.dark-mode #darkModeBtn {
  background-color: #2b2b2b;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  color: #f9f9f9;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  content: '\f187';
  border: none;
}

.dark-mode .btn.btn-primary.btn-lg {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #8d1313c7;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  padding-top: 1px;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-primary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #9e1515;
  color: rgb(250, 250, 250);
  transform: scale(1.1) translateY(-5px);
}

.dark-mode .btn.btn-secondary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-secondary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateY(-5px);
}

.dark-mode .btn.btn-secondary {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #303030;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-secondary:hover {
  background: #535353;
  color: rgb(255, 255, 255);
}

.dark-mode .overflow-auto {
  background-color: #303030;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.dark-mode p {
  display: block;
  color: #ffffff;
  /* Text color */
  padding: 0.5rem 0.5rem;
  /* Padding */
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.dark-mode .event-box {
  width: 320px;
  background-color: #242424;
  border-top: 10px solid #8d1313;
  color: #d8d8d8;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  padding: 20px;
  margin: 10px;
  margin-right: 17px;
  margin-bottom: 15px;
  margin-left: 17px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  display: inline-block;
  position: relative;
  box-shadow: 1px 3px 4px 1px rgba(43, 43, 43, 0.658);
}

.dark-mode .event-box-custom {
  background-color: #1d1d1d;
  color: #d8d8d8;
  border-top: 10px solid #ffffff;
}

.dark-mode .event-box .description {
  font-size: 17px;
  color: #d3d3d3;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.dark-mode .event-box-custom .description {
  font-size: 17px;
  color: #d3d3d3;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.dark-mode .event-box .comments {
  font-size: 17px;
  color: #d3d3d3;
  margin-bottom: 20px;
}

.dark-mode .settings-dropdown button {
  padding: 5px 10px;
  border: none;
  background-color: #242424;
  border-radius: 3px;
  cursor: pointer;
}

.dark-mode .settings-dropdown .dropdown-toggle::after {
  color: #ffffff;
}

.dark-mode .event-box-divider {
  border-top: 1px solid #a8a8a8;
  padding-top: 10px;
  margin-top: 20px;
}

.dark-mode .form-control.form-control-lg {
  background-color: #363636;
  color: #f9f9f9;
}


.dark-mode .form-select-lg {
  background-color: #363636;
  color: #f9f9f9;
}
.oldMedium {
  background-color: red;
}

.dark-mode input::placeholder {
  font-style: italic;
  font-weight: 600;
  color: rgb(202, 202, 202);
}

.dark-mode textarea::placeholder {
  font-style: italic;
  font-weight: 600;
  color: rgb(202, 202, 202);
}

.dark-mode .special-input {
  background-color: #494949;
}

.dark-mode .dropdown-content {
  background-color: #464646;
}

/* Style for the navbar */
.dark-mode .secondary-navbar {
  background-color: #363636;
}

/* Style for the tab buttons */
.dark-mode .tab-btn1 {
  border-bottom: 7px solid transparent;
  color: #cecece;
}

.dark-mode .tab-btn2 {
  border-bottom: 7px solid transparent;
  color: #cecece;
}

.dark-mode .tab-btn3 {
  border-bottom: 7px solid transparent;
  color: #cecece;
}
.dark-mode .tab-btn4 {
  border-bottom: 7px solid transparent;
  color: #cecece;
}
/* Style for the clicked/checked state */
.dark-mode .tab-btn1.active {
  border-bottom-color: #8d1313;
  transform: translateY(5px) translateX(5px);
  /* Border color for the active tab */
}

.dark-mode .tab-btn2.active {
  border-bottom-color: #8d1313;
  transform: translateY(5px) translateX(5px);
}

.dark-mode .tab-btn3.active {
  border-bottom-color: #8d1313;
  transform: translateY(5px) translateX(5px);
}
.dark-mode .tab-btn4.active {
  border-bottom-color: #8d1313;
  transform: translateY(5px) translateX(5px);
}
.selectedoutline {
  outline: 3px solid #0000FF;
}

.selected {
  background-color: #00ff00;
  color: white; /* Change this to the color you want for selected cells */
  font-weight: bolder;
}

/* Add border to table headers */
th {
  padding: 15px;
  padding-top: -2px;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  font-family: 'Tahoma', sans-serif;
  color: #ffffff;
}

.dark-mode th {
  border: 3px solid rgb(255, 255, 255);
  color: white;
}

/* Disable user selection on the table */
.timeBlocks {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  font-family: 'Tahoma', sans-serif;
  border: 2px solid rgb(0, 0, 0);
  margin: 5px;
  color: #ffffff;
  background-color: #a8a8a8;
  font-weight: bolder;
  text-shadow: 
            -1px -1px 0 #000,  
             1px -1px 0 #000,
            -1px  1px 0 #000,
             1px  1px 0 #000;
}

.dark-mode .timeBlocks {
  border: 2px solid rgb(255, 255, 255);
  background-color: #868686;
}

.dark-mode .secondary-body {
background-color: #444444;
}

.dark-mode .col-form-label {
  font-weight: 500;
  color: #ffffff;
}

.dark-mode .form-check-input {
  color: #ffffff;
}

.flatpickr-day:hover {
  background-color: #A5192E !important;
  color: #fff !important;
  border: none;
}

.flatpickr-day.selected {
  background-color:#bd0f0f !important;
  color: #fff !important;
  border: none !important;
  border: none;
}

.flatpickr-rangeInputs input:hover {
  background-color: #f0f0f0 !important;
  color: #333 !important;
  cursor: pointer;
  border: none;
}

/* Hover effect on buttons */
.flatpickr-confirm:hover {
  background-color: #A5192E !important; /* Darker shade of primary color */
  border: none;
}

.flatpickr-day.rangeStart:hover,
.flatpickr-day.rangeEnd:hover,
.flatpickr-day.rangeStart.selected:hover,
.flatpickr-day.rangeEnd.selected:hover,
.flatpickr-day.selected:not(.rangeStart):not(.rangeEnd):hover {
    background-color: #A5192E !important;
    color: #fff !important;
    border: none;
}

.flatpickr-day.rangeStart:hover,
.flatpickr-day.rangeEnd:hover,
.flatpickr-day.rangeStart.selected:hover,
.flatpickr-day.rangeEnd.selected:hover,
.flatpickr-day.selected:not(.rangeStart):not(.rangeEnd):hover {
  background-color: #A5192E !important;
  color: #fff !important;
  border: none;
}
