h1 {
  display: inline;
  color: #ffffff;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.685);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #686868 !important;
    background-image: url('RegistrationBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

/* dropdown menu hover for "Meeting Organizer" button */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.m2{
  background-color: #ffffff; /* Background color */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 13px;
  padding: 0.5rem 0; /* Padding */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Box shadow */
}

.dropdown-menu .dropdown-item {
  color: #131313; /* Text color */
  padding: 0.5rem 1rem; /* Padding */
  font-size: 1rem; /* Font size */
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu .dropdown-item:hover {
  transform: scale(1.05);
}

.navbar-nav{
  align-items: center;
  position: flex;
  margin-left: auto;
  padding-right: 250px;
}

.navbar-brand {
  display: block;
  width: 43px; 
  height: 43px;
  background-image: url('Logo.png'); 
  background-size: cover; 
  background-repeat: no-repeat; 
  background-position: center; 
  margin-left: 315px;
}


.nav-link.nav-link.dropdown-toggle{
  color: #000000;
  background-color: #f0f0f0; 
  transition: background-color 0.3s;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
}

.nav-link.nav-link.dropdown-toggle:hover{
  background-color: #d8d8d8; 
  transform: scale(1.05);
}

.nav-link.active {
  color: #000000;
  background-color: #f0f0f0;
  transition: background-color 0.3s; /* smooth transition */
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  font-weight: 500;
  margin-left: 10px;
}

.nav-link.active:hover {
  background-color: #f0f0f0;
  transform: scale(1.05);
}

.btn.btn-primary.ml {
  display: inline-block;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background: #f0f0f0;
  font-size: 16px;
  color: rgb(92, 92, 92);
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.ml:hover {
  transform: scale(1.15);
}

.btn.btn-primary.ml:active {
  background-color: #f0f0f0;
}

/* Adjust the shadow */
.navbar {
  background-color: #f0f0f0;
}

.footer.mt-auto {
  background-color: rgb(240, 240, 240);
  font-size: 15px;
  font-weight: 500; /* half bold so text can stand out a little better */
  height: auto;
}

#darkModeBtn {
  background-color: #f0f0f0;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: none;
}

#darkModeBtn:hover {
  transform: scale(1.1);
}

.container-fluid{
  font-size: 20px;
  font-weight: 500;
}

.btn.btn-primary.btn-lg {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #ced4da;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  height: 50px;
  display: inline-block;
  padding-top: 1px;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #ffffff;
  color: rgb(0, 0, 0);
  transform: scale(1.1) translateY(-5px);
}

.btn.btn-secondary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  transition: all 170ms ease-in-out;
}

.btn.btn-secondary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateY(-5px);
}

.btn.btn-secondary{
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  transition: all 170ms ease-in-out;
}

.btn.btn-secondary:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
}

input::placeholder {
  font-style: italic;
  font-weight: bolder;
}
input {
  font-style: normal; /* this is to avoid making input italic */
}

.col-md-4 {
  padding: 30px;
  margin: 20px;
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin: 5px;
  transition: all 120ms ease-in-out;
}
.form-check-input:hover {
  cursor: pointer;
  transform: scale(1.05) translateY(-2px);
}

.overflow-auto {
  background-color: #ffffff;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.dropdown-content {
  display: none;
  overflow: auto;
  position: absolute;
  margin-top: -16px;
  border-radius: 5px;
  background-color: #acacac;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.pollcreate p {
  display: block;
  color: #131313; /* Text color */
  padding: 0.5rem 0.5rem; /* Padding */
  font-size: 20px; /* Font size */
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
  transition: all 200ms ease-in-out;
}

.pollcreate p:hover {
  cursor: pointer;
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #868686;
  font-weight: 600;
  transform: scale(1.05);
}

.show {
  display: block;
}


.event-box {
  width: 300px;
  background-color: #f9f9f9;
  border: 1px solid #757575;
  border-top: 10px solid #cae4ff;
  /* Choose your desired color */
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  margin-bottom: 20px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.411);
}

.event-box .title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.event-box .description {
  font-size: 17px;
  color: #666;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.event-box .comments {
  font-size: 17px;
  color: #666;
  margin-bottom: 20px;
}

.settings-dropdown {
  position: absolute;
  top: 10px;
  right: 10px;
}

.settings-dropdown button {
  padding: 5px 10px;
  border: none;
  background-color: #f9f9f9;
  border-radius: 3px;
  cursor: pointer;
}

.settings-dropdown .dropdown-toggle::after {
  color: #f9f9f9;
}

.event-box-divider {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  margin-top: 20px;
}

.share-button {
  border: 2px solid #86a5c5;
  outline: 0;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  background: #ffffff;
  font-size: 15px;
  border-radius: 20px;
  color: #6084a8;
  height: 40px;
  width: 90px;
  position: absolute;
  bottom: 10px; /* Adjust bottom position as needed */
  right: 10px; /* Adjust right position as needed */
  transition: all 170ms ease-in-out;
}

.dark-mode h1 {
  display: inline;
  color: #ffffff;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.685);
}

.dark-mode .dropdown-menu.m2{
  background-color: #3b3b3b; /* Background color */
  border: 1px solid #313131; /* Border color */
  border-radius: 13px;
  padding: 0.5rem 0; /* Padding */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Box shadow */
}

.dark-mode .dropdown-menu .dropdown-item {
  color: #ffffff; /* Text color */
  padding: 0.5rem 1rem; /* Padding */
  font-size: 1rem; /* Font size */
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.dark-mode .dropdown-menu .dropdown-item:hover {
  transform: scale(1.05);
  background-color: #505050;
}

.dark-mode .nav-link.nav-link.dropdown-toggle{
  color: #ffffff;
  background-color: #494949; 
  transition: background-color 0.3s;
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
}

.dark-mode .nav-link.nav-link.dropdown-toggle:hover{
  background-color: #505050;
  transform: scale(1.05);
}

.dark-mode .nav-link.active {
  color: #ffffff;
  background-color: #2c2c2c;
  transition: background-color 0.3s; /* smooth transition */
  border-radius: 15px;
  transition: all 150ms ease-in-out;
  font-weight: 500;
  margin-left: 10px;
}

.dark-mode .nav-link.active:hover {
  background-color: #333333; 
  transform: scale(1.05);
}

.dark-mode .btn.btn-primary.ml {
  display: inline-block;
  border: none;
  font-weight: 500;
  cursor: pointer;
  background-color: #242424;
  font-size: 16px;
  color: rgb(206, 206, 206);
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-primary.ml:active {
  background-color: #242424;
}

.dark-mode .navbar {
  background-color: #242424;
}

.dark-mode .footer {
  background-color: rgb(34, 34, 34);
  padding-top: 10px; /* footer text was a little too close the top edge */
  align-items: baseline;
}

.dark-mode #darkModeBtn {
  background-color: #2b2b2b;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  color: #f9f9f9;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  content: '\f187';
  border: none;
}

.dark-mode .btn.btn-primary.btn-lg {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #474747;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  padding-top: 1px;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-primary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #616161;
  color: rgb(250, 250, 250);
  transform: scale(1.1) translateY(-5px);
}

.dark-mode .btn.btn-secondary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  display: inline-block;
  margin-right: 5px;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-secondary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateY(-5px);
}

.dark-mode .btn.btn-secondary{
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  margin-right: 5px;
  display: inline-block;
  transition: all 170ms ease-in-out;
}

.dark-mode .btn.btn-secondary:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
}

.dark-mode .overflow-auto {
  background-color: #303030;
  border-radius: 10px;
  border-width: 1px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-overflow: ellipsis;
}

.dark-mode p {
  display: block;
  color: #ffffff; /* Text color */
  padding: 0.5rem 0.5rem; /* Padding */
  border-radius: 5px;
  max-height: 40px;
  overflow: hidden;
  transition: all 150ms ease-in-out;
}

.dark-mode .event-box {
  width: 300px;
  margin: 50px auto;
  background-color: #242424;
  border: 1px solid #222222;
  border-top: 10px solid #8d1313;
  color: #d8d8d8;
  border-radius: 10px;
  padding: 20px;
  margin: 5px;
  display: inline-block;
  position: relative;
  box-shadow: 0px 2px 3px 0px rgba(43, 43, 43, 0.411);
}

.dark-mode .event-box .description {
  font-size: 17px;
  color: #d3d3d3;
  margin-bottom: 10px;
  /* Adjusted margin to create space */
}

.dark-mode .event-box .comments {
  font-size: 17px;
  color: #d3d3d3;
  margin-bottom: 20px;
}

.dark-mode .settings-dropdown button {
  padding: 5px 10px;
  border: none;
  background-color: #242424;
  border-radius: 3px;
  cursor: pointer;
}

.dark-mode .settings-dropdown .dropdown-toggle::after {
  color: #ffffff;
}

.dark-mode .event-box-divider {
  border-top: 1px solid #a8a8a8;
  padding-top: 10px;
  margin-top: 20px;
}

.dark-mode .form-control.form-control-lg {
  background-color: #363636;
  color: #f9f9f9;
}

.dark-mode .form-select-lg {
  background-color: #363636;
  color: #f9f9f9;
}
