h1 {
  display: flex;
  color: #ffffff;
  text-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.685);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('RegistrationBackground.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  

/* dropdown menu hover for "Meeting Organizer" button */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu.m2{
  background-color: #ffffff; /* Background color */
  border: 1px solid #ced4da; /* Border color */
  border-radius: 13px;
  padding: 0.5rem 0; /* Padding */
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); /* Box shadow */
}

.dropdown-menu .dropdown-item {
  color: #131313; /* Text color */
  padding: 0.5rem 1rem; /* Padding */
  font-size: 1rem; /* Font size */
  border-radius: 5px;
  transition: all 200ms ease-in-out;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu .dropdown-item:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #0a8df8;
  color: rgb(205, 220, 233);
  font-weight: 600;
  transform: scale(1.05) translateY(-5px);
}

.navbar-brand {
  font-weight: bolder;
  transition: all 200ms ease-in-out;
}

.navbar-brand:hover {
  transform: scale(1.05) translateY(-1px);
}

.nav-link.nav-link.dropdown-toggle{
  color: #000000; /* white text */
  background-color: #cacad3; /* blue background */
  transition: background-color 0.3s; /* smooth transition */
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
  font-style: italic;
}

.nav-link.nav-link.dropdown-toggle:hover{
  background-color: #d8d8d8; /* darker blue on hover */
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.411);
  transform: scale(1.05) translateY(-2px);
}

.nav-link.active {
  color: #000000; /* white text */
  background-color: #cacad3; /* blue background */
  transition: background-color 0.3s; /* smooth transition */
  border-radius: 15px;
  transition: all 200ms ease-in-out;
  font-weight: 500;
  font-style: italic;
  margin-left: 10px;
}

.nav-link.active:hover {
  background-color: #d8d8d8; /* darker blue on hover */
  box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.411);
  transform: scale(1.1) translateY(-2px);
}

.btn.btn-primary.ml-auto {
  display: relative;
  border: none;
  outline: 0;
  text-align: center;
  text-anchor: middle;
  cursor: pointer;
  font-weight: bold;
  background: #ced4da;
  font-size: 15px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  height: 40px;
  width: 90px;
  position: absolute;
  right: 80px;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.ml-auto:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #ffffff;
  color: rgb(0, 0, 0);
  transform: scale(1.1) translateY(-3px);
}

/* Adjust the shadow */
.navbar {
  background-color: #f0f0f0;
  box-shadow: 0 5px 35px rgb(112, 112, 112); 
}

.footer {
  background-color: rgb(240, 240, 240);
  font-size: 15px;
  font-weight: 500; /* half bold so text can stand out a little better */
  padding-top: 10px; /* footer text was a little too close the top edge */
  box-shadow: 0px 3px 15px 4px rgba(0, 0, 0, 0.801);
}

#darkModeBtn {
  background-color: #f0f0f0;
  bottom: 10px;
  left: 10px;
  font-size: 30px;
  border-radius: 100%;
  font-weight: bolder;
  cursor: pointer;
  transition: all 200ms ease-in-out;
  border: none;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.411);
}

#darkModeBtn:hover {
  transform: scale(1.1) translateY(-4px);
  color: #643600; /* this color will be different upon inversion, keep that in mind :D */
}

/* inversion function, adjust hue-rotate for different inversion color patterns
(I found 150 to be the best, for now at least) */
.dark-mode {
  transition: 500ms;
  filter: invert(1) hue-rotate(150deg);
}

.container-fluid{
  font-size: 20px;
  font-weight: 500;
}

.btn.btn-primary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #ced4da;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  height: 50px;
  width: 110px;
  padding-top: 1px;
  transition: all 170ms ease-in-out;
}

.btn.btn-primary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #ffffff;
  color: rgb(0, 0, 0);
  transform: scale(1.1) translateY(-5px);
}

.btn.btn-secondary.btn-lg {
  border: none;
  outline: 0;
  cursor: pointer;
  font-weight: bolder;
  background: #333333;
  font-size: 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  height: 50px;
  width: 105px;
  margin-right: 5px;
  transition: all 170ms ease-in-out;
}

.btn.btn-secondary.btn-lg:hover {
  box-shadow: 1px 4px 11px 0px rgba(0, 0, 0, 0.411);
  background: #585858;
  color: rgb(255, 255, 255);
  transform: scale(1.1) translateY(-5px);
}

input::placeholder {
  font-style: italic;
}
input {
  font-style: normal; /* this is to avoid making input italic */
}

